body{
  background-color: #FFFFFF;
  color : #ffd700;
  margin-top: 100px;
}

h3{
  text-align: center;
}

h2{
  color: #DF5286;
  transition: color 0.5s ease-in-out;
  text-align: center;
}

h1{
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0 0 2px #000000;
}

ul{
  color: #FFFFFF;
  text-shadow: 0 0 2px #000000;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
form {
  text-align: center;
}


.btn{
  cursor: pointer;
}

.clicked{
  color: #A9A9A9;
}

.form,
.greeting{
  display: none;
  text-align: center;

}

.showing{
  display: block;
}
.weatherCenter{
  text-align: center;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 2s linear;  
}
